{% extends 'base.html' %}
{% load staticfiles %} <!-- must load static files on every template, even though it extends another template -->
{% block appcontent %}
    <section>
        <div class="flex-container wrapper">
            Welcome to the Footy Demo App
            <hr />
            <a href="{% url 'footy' %}">Main Page</a> |
            <a href="{% url 'footyApi' %}">Footy API Service</a> |
            <a href="{% url 'MLSNews' %}">News from the MLS</a>
        </div>
    </section>
    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}

