{% extends 'FootyDemo/footy_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container footy">
        <form method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            {{ form.non_field_errors}}
            <button class="primary-light-button" type="submit">Update Jersey</button>
        </form>
        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listJerseys' %}'">Back to Collection</button>
    </div>
</section>
{% endblock %}