{% extends 'WaveWatch/wavewatch_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container footy">
        <img width="100%" src="{% static 'images/waves/wavewatch_home.jpg' %}">
        <table>
            <tr>
                <th>Locale</th>
                <td>{{surfID.locale}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{surfID.country}}</td>
            </tr>
            <tr>
                <th>Type of Board</th>
                <td>{{surfID.board_type}}</td>
            </tr>
            <tr>
                <th>Length of Board</th>
                <td>{{surfID.board_length}}</td>
            </tr>
        </table>
{% url 'updateSurfInfo' pk=surfID.pk %}
        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'updateSurfInfo' pk=surfID.pk %}'">Edit</button>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'deleteSurfInfo' pk=surfID.pk %}'">Delete</button>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listSurfType' %}'">Back to Collection</button>
    </div>
</section>
{% endblock %}

<!--<button class="primary-bright-button" type="button" onclick=" location.href='{% url 'deleteSurfInfo' pk=surfID.pk %}'">Delete</button>-->