{% extends 'WaveWatch/wavewatch_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section >
    <div class="flex-container waves" id="surfTypeInfo">
        <table class="table-striped">
            <tr>
                <th class="col-md">Locale</th>
                <th class="col-md">Country</th>
                <th class="col-md">Board Type</th>
                <th class="col-md">Board Length</th>
            </tr>
            {% for type in surfTypes %}     <!-- creates a new row for each jersey in the collection -->
                <tr>
                    <td class="col-md">{{type.local}}</td>
                    <td class="col-md">{{type.country}}</td>
                    <td class="col-md">{{type.board_type}}</td>
                    <td class="col-md">{{type.board_length}}</td>
                    <td class="col-md"><a href="{{types.pk}}/Details"><button class="primary-light-button" id="info-button">Details</button></a></td>    <!-- creates a link for that specific jersey -->
                </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'addSurfInfo' %}'">Add Info</button>
    </div>
</section>
{% endblock %}
