{% extends "WaveWatch/wavewatch_base.html" %}
{% load static %}
{% block templatecontent %}

<section>
        <div class="flex-container footy">
                <img width="100%" src="{% static 'images/waves/wavewatch_home.jpg' %}">
                <span class="footy_center"><strong>Welcome to the Wave Watch App</strong><br />
                A resource for surfers looking to get wet in Oregon's best coves and beaches. Daily NOAA wave data is provided from 4 outposts along Oregon's amazing coastline.</span>
                <br />
        </div>
</section>

{% endblock %}