{% extends 'WaveWatch/wavewatch_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container">
        <img width="100%" src="{% static 'images/waves/wavewatch_home.jpg' %}">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }} <!-- this only renders the td tags, still need the table tags -->
            </table>
            {{ form.non_field_errors }}
            <button class="primary-bright-button" type="submit"> Update Your Info </button>
        </form>
        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listSurfType' %}'">Return</button>
    </div>
</section>
{% endblock %}