/* The background image  */
.cover-amiibo {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/amiibo_home.png') right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

/* Used for the edit and delete buttons*/
.btn_amiibo {
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 50px;
    margin: 5px 15px;
    border: 2px solid black;
    transition: 0.2s;
    cursor: pointer;
}

/* Aligns the Elements on the Amiibo home page */
.left {grid-area: left;}
.right {grid-area: right;}
.home_grid-container {
    display: grid;
    margin: 5px auto;
    padding: 25px 5px 5px 5px;
    justify-content: center;
    align-content: center;
    grid-template:
        'left . right'
        'left . right'
        'left . right';
    grid-gap: 50px;
    width: 80%;
    height: auto;
}

/* The CSS that aligns all of the items in the addAmiibo form */
.addAmiibo_grid-container > input {font-size: 16px;}
.addAmiibo_grid-container > label {padding: 5px;}
.addAmiibo_grid-container > input[name="name"] {grid-area: nameField}
.addAmiibo_grid-container > input[name="game_series"] {grid-area: gameSField}
.addAmiibo_grid-container > input[name="purchase_date"] {grid-area: purDate}
.addAmiibo_grid-container > input[name="purchase_price"] {grid-area: purPrice}
.addAmiibo_grid-container > select[name="amount"] {
    grid-area: qtyDD;
    width: 50%;
    align-self: center;
    justify-self: center;
    font-size: 20px;}
.addAmiibo_grid-container > input[type=submit] {
    grid-area: addBtn;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(0,0,255,0.5);
    color: black;
    width: 75%;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 3px 3px 6px black}
.addAmiibo_grid-container > input[type=submit]:hover {
    background: green;
    color: white;
    border: 1px solid black}
.addAmiibo_grid-container {
    display: grid;
    margin: 5px auto;
    padding: 25px;
    justify-content: center;
    align-content: center;
    grid-template:
        '   .           nameField       nameField   '
        '   .           gameSField      gameSField  '
        '   .           .               .           '
        '   qtyDD       purDate         purPrice    '
        '   qtyDD       addBtn          addBtn      ';
    grid-gap: 10px;
    width: 60%;
    height: auto;
}

/* Styling for table in amiibo_db.html */
.db_grid-container > * {
    /* These 4 styles make the cool background work */
    padding: 10px;
    margin: 0;
    background: transparent;
    border: 5px solid white;
    overflow-wrap: break-word;      /* For the dates. May remove later if I require date to be specific format */
    color: white;}
.db_grid-container > h4 {
    padding: 10px 0;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;}
.btn_details {
    background-color: rgba(0, 0, 0, 0.0);
    transition: 0.2s;
    color: rgb(51, 153, 255);}
.btn_details:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: green;
    font-weight: bolder;
    cursor: pointer;}
.db_grid-container {
    display: grid;
    margin: 5px auto;
    align-content: center;
    width: 85%;
    grid-template-columns: auto 20% 10% 10% 7% 10%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/gamesystems_repeatingimg.jpg') right bottom;
    background-repeat: repeat;
}

/*Styling for the details page: amiibo_db-details.html */
.details_grid-container > .amiiboImg {grid-area: img;}
.details_grid-container > .name {grid-area: name;}
.details_grid-container > .series {grid-area: ser;}
.details_grid-container > .date {grid-area: date;}
.details_grid-container > .price {grid-area: pri;}
.details_grid-container > .amount {grid-area: qty;}
.details_grid-container {
    display: grid;
    grid-template:
        '   img     .   name   name   name  '
        '   img     .   ser    ser    ser   '
        '   img     .   date   .      pri   '
        '   img     .   qty    qty    qty   ';
    margin: 5px auto;
    padding: 25px;
    justify-content: center;
    align-content: center;
}
.details_grid-container > * {
    padding: 10px;
    font-size: 32px;
    text-weight: bold;
    margin: 0;
    align-self: center;
}


/* The buttons that move between db, addAmiibo, and details */
.btn_pageTransition {
    display: block;
    margin: 30px auto;
    font-size: 20px;
    background-color: rgb(80, 15, 17);
    color: white;
    padding: 5px 50px;
    border: 2px solid black;
    transition: 0.2s;
    cursor: pointer;
}
.btn_pageTransition:hover {
    background-color: rgba(80, 15, 17, 0.5);
}


/* My row column layout - meant for any page */
.amiibo_rcContainer {
    display: block;
    margin: 5px auto;
    width: 75%;

    /* Change later */
    padding: 5px;
}
.amiibo_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Edit and Delete buttons */
.btn_edit {
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid rgb(29, 158, 0)
}
.btn_edit:hover {
    background-color: rgb(29, 158, 0);
}
.btn_delete {
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid rgb(176, 0, 0, 1)
}
.btn_delete:hover {
    background-color: rgba(176, 0, 0, 1);
}

/* Amiibo delete modal
*  I got a lot of the styles from https://www.w3schools.com/howto/howto_css_modals.asp*/
.amiibo_modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 15%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6);
    animation-name: moveModalContent;
    animation-duration: 0.75s;
}
@keyframes moveModalContent {
    from {padding-top: 0; background-color: rgba(0,0,0,0);}
    to {padding-top: 15%; background-color: rgba(0,0,0,0.6);}
}

.amiibo_modal-content {
    position: relative;
    background-color: black;
    margin: 10% auto;
    padding: 10px;
    border: 2px solid red;
    width: 60%;
    animation-name: fadeIn;
    animation-duration: 2s;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1}
}

.btn_modal-confirm {
    border: 2px solid red;
}
.btn_modal-confirm:hover {
    background-color: red;
}

.btn_modal-cancel {
    border: 2px solid rgb(138, 138, 138);
}
.btn_modal-cancel:hover {
    background-color: rgb(138, 138, 138);
}

/* The small x in the corner */
.exit_amiibo_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    float: right;
    font-size: 28px;
    border: 1px solid white;
    margin-left: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.exit_amiibo_modal:hover {
    background-color: white;
    color: black;
}


/* The styles for the filter section of the API page and BS page*/
.filter-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: center;
    width: 80%;
    margin: 5px auto;
    padding: 5px;
}

.filter-subContainer {
    display: block;
    font-weight: bold;
    color: rgba(70, 15, 17, 0.75);
    background-color: rgba(255, 215, 0, 0.75);
    border-radius: 15px;
    padding: 10px;
    margin: 5px 5px;
}

.filter-subContainer > * {
    margin: 0;
    padding: 0;
}

.filter-subContainer input, .filter-subContainer >  select {
    font-weight: 600;
    padding: 2px;
    border: 2px solid rgba(0,0,0,0.66);
    background-color: white;
}

.filter-subContainer >  select {
    border-radius: 0;
    text-transform: uppercase;
    background-color: white;
    transition: 0.25s;
}

.filter-subContainer >  select:hover {
    background-color: rgba(0, 0, 0, 0.10);
    color: darkblue;
}

.btn_apiSubmitButton {
    cursor: pointer;
    padding: 5px;
    color: rgb(255, 215, 0);
    background-color: rgb(70, 15, 17);
    border-radius: 5px;
    width: 100px;
    height: 50px;
    text-align: center;
    align-self: center;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.25s
}

.btn_apiSubmitButton:hover {
    background-color: rgb(0, 150, 0);
    transform: scale(1.1);
}

/* To make things easier to understand for myself and others
*  -- api-container: The master container (every image and text-block is inside)
*  ---- amiiboInfo-container: Contains the individual amiibo img AND text
*  ------ amiiboInfo_textBlock: Contains each block of text */
.api-container {
    display: flex;
    width: 80%;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.amiiboInfo-container > .amiiboImg {
    grid-area: img;
    width: auto;
    max-height: 300px;
}
.amiiboInfo-container > .amiiboImg:hover {
    cursor: pointer;
}
.amiiboInfo-container > * {font-weight: bold;}
.amiiboInfo-container {
    display: grid;
    grid-template:
        'img'
        '.'
        '.'
        '.'
        '.'
        '.';
    padding: 10px;
    justify-content: center;
    align-content: flex-start;
    /*background-image: linear-gradient(to bottom right, white, rgba(255, 215, 0, 0.75), white);*/
    border-radius: 25px;
    margin: 10px;
    transition: 0.33s;
}
.amiiboInfo-container:hover {
    transform: scale(1.1)
}

.amiiboInfo_textBlock {
    display: flex;
    margin: 5px;
}

.text-rotated {
    font-size: 10px;
    transform: rotate(-10deg);
    padding: 0 0 10px 5px;
    font-weight: normal;
}

/* Styles for the news page */
.nintendoNews-container {
    display: flex;
    width: 90%;
    margin: 15px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.nintendoNews-article {
    display: flex;
    transition: 0.33s;
}

.nintendoNews-article:hover {
    transform: scale(1.05)
}

.newsArticle-content {
    display: block;
    margin: 10px;
    padding: 0px;
    height: 450px;
    min-height: 400px;
    box-shadow: 5px 5px 5px rgb(153, 153, 153);
    background-image: linear-gradient(to bottom, rgb(220, 36, 22), rgb(255, 59, 46), rgb(220, 36, 22));
    width: 100%;
    max-width: 400px;
    border: 2px solid black;
    border-radius: 5px;
}

.nintendoNews-titleContainer {
    display: flex;
    grid-template-columns: auto;
    align-content: flex-start;
    text-align: center;
    height: 40%;
}
.nintendoNews-title {
    padding: 20px 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 115%;
    word-wrap: break-word;
    align-self: flex-start;
}

.nintendoNews-linkContainer {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    justify-content: center;
}

.nintendoNews-link {
    align-self: flex-end;
    margin-bottom: 5px;
    font-style: italic;
    cursor: pointer;
    padding: 2px 10px;
    border-left: 2px solid rgb(40, 171, 252);
    border-right: 2px solid rgb(40, 171, 252);
    border-radius: 15px;
    transition: 0.25s
}

.nintendoNews-link:hover {
    border-radius: 25px;
    background-color: rgb(40, 171, 252);
}

.nintendoNews-link > a {
    color: inherit;
    text-decoration: none;
}

.nintendoNews-age {
    display: block;
    margin-top: 5px;
    padding: 2px 10px;
    border-radius: 25px;
    text-align: center;
    align-self: flex-start;
    background-color: #00802b;
    color: white;
    width: auto%;
    font-size: 14px;
    justify-self: center;
}

.nintendoNews-summaryContainer {
    display: grid;
    grid-template-columns: auto;
    align-content: flex-start;
    height: 40%;
}

.nintendoNews-summary {
    text-indent: 40px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 125%;
}

.miniSubText {
    font-size: 8px;
    font-weight: bold;
    color: black;
}

/* General styles */

.text-center {text-align: center;}

.text-left {
    text-align: left;
    justify-self: left;
}

.grid-supercenter {
    align-self: center;
    justify-self: center;
}

.text-AmiiboDeleted {
    color: rgb(163, 0, 0);
}

.text-AmiiboUpdated {
    color: rgb(74, 136, 199);
}

.titleText {
    margin: 20px 0;
    font-size: 32px;
    text-weight: bold;
    line-height: 115%;
}