/* Defining Root Colors */
:root{
    --midtone: #8D7148;
    --neutral: #B49159;
    --contrast: #403025;
    --standout: #2F3C48;
    --highlight: #f7c552;
    --banner: #f89624;
    --dark: #232323;
    --footer: #675036;
}

body{
    background: linear-gradient(180deg, black, transparent 20%), linear-gradient(360deg, #000, transparent 20%), #090c1f url(/static/images/wall-ship.jpg) no-repeat center center fixed;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    max-height: 100%;
    margin: 0;
    overflow: scroll;
}

.jumbotron{
    background-color: transparent;
    color:var(--neutral);
}
/* ============ Navigation Bar styling //  START ========= */
.navbar-global {
  background-color: transparent;
}

.navbar-global .navbar-brand {
  color: white;
  margin-left:-30px!important;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'Permanent Marker', cursive;
}

.navbar-global .navbar-user > li > a
{
  color: white!important;
  background:yellow!important;
  display:block!important;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  background-color: #00000085;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 175px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  }

.navbar-primary.collapsed {
    width: 60px;
}
.navbar-primary.collapsed .fas {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}
.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}
.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .fas {
  margin-right:8px;
}

.navbar-primary-menu li a:hover .fas {
  color: #e7d052;
}
.navbar-primary-menu li a:hover .fab {
  color: #e7d052;
}

.main-content {
  margin-top: 60px;
  margin-left: 150px;
  padding: 20px;
  color:#fff!important;
  letter-spacing:1px;
}

.main-content p {
  color:#fff;
  font-style:italic;
  word-spacing: 3.5px;

}

.collapsed + .main-content {
  margin-left: 30px;
}

.navbar-toggle .icon-bar{
    background-color:red;
 }
/* ========== Navigation Bar styling //  END ========= */

/*=========== Footer styling //  START============*/
.footer {
    padding:10px 0;
    color: var(--neutral);
    position: fixed;
    bottom: 30px;
    margin: 0;
    width: 10%;
    background:transparent;
}

.footer .item.social > a {

}

.footer .item.social > a:hover {
    opacity:0.9;
}

.footer .copyright {
   font-style:italic;
    padding-bottom:14px;
    font-size:13px;
    margin-bottom:0;
    color:#fff;
}*/
/*
.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
    }
}

.footer-dark .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
    margin-bottom:0;
    }
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-dark .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
    }
}

/*============Footer styling END============*/

/* Beginning of the stock CSS template */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	color: var(--midtone);
	font-size: 14px;
	line-height: 24px;
}

/* Specific styling for the Footy Demo App */
.footy button{
    display: flex;
    justify-content: center;
    margin: auto;
}

.footy table{
    width: 75%;
    align: center;
    margin: 20px auto;
    border: 40px 20px 10px 20px;
}

.footy tr,th,td{
    color: var(--midtone);
    background-color: var(--highlight);
}

.footy hr{
    color: var(--banner);
    border-top-width: 2px;
    margin: 2px;
}

.footy h4{
    color: var(--midtone);
    text-align: center;
    text-shadow: 2px 2px var(--standout);
}

.footy select, label{
    color: var(--midtone);
    background: var(--standout);
    display: flex;
}

#footyPic{
    text-align: center;
    position: relative;
}

#footyPic img {
    border: 2px dotted var(--midtone);
    border-radius: 10%;
    width: 600px;
    padding: 10px;
    align: center;
}

#footyPic span{
    background: var(--contrast);
    opacity: 70%;
    width: 500px;
    border-radius: 5px;
}

.footy_top{
    display:inline-block;
    padding:2px 3px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--neutral);
    text-shadow: 2px 2px 5px var(--dark);
}

.footy_center{
    display:inline-block;
    padding:2px 3px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: var(--neutral);
}

.footy_caption{
    background-color: var(--standout);
    color:var(--light);
    text-decoration:none;
    padding:4px 6px;
    font-family: Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
    position: absolute;
    bottom: -30px;
    right: 25%;
}

/* End footy styling */

.primary-light-button {
	display: inline-block;
	background-color: var(--neutral);
	font-size: 13px;
	padding: 12px 18px;
	color: var(--contrast);
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}

.primary-bright-button {
	display: inline-block;
	background-color: var(--standout);
	font-size: 13px;
	padding: 12px 18px;
	color: var(--neutral);
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}

.pop-button h4 {
	display: inline-block;
	background-color: var(--standout);
	font-size: 13px!important;
	padding: 12px 18px;
	color: var(--neutral);
	font-weight: 400!important;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
}

/*** CODE need to be refactored // START ******/

#about {
	padding: 150px 0px;
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#about .service-item {
	text-align: center;
}

#about .service-item .icon {
	width: 110px;
	height: 110px;
	display: inline-block;
	text-align: center;
	line-height: 104px;
	border: 3px solid var(--neutral);
	border-radius: 50%;
	background-color: var(--highlight);
}

#about .service-item h4 {
	margin-bottom: 30px;
	margin-top: 45px;
	font-size: 17px;
	font-weight: 500;
	color: var(--neutral);
	letter-spacing: 1px;
}

#about .service-item .line-dec {
	width: 100%;
	height: 1px;
	background-color: rgba(250, 250, 250, 0.5);
}

#about .service-item p {
	color: var(--neutral);
	margin-top: 30px;
}

#about .service-item .primary-bright-button {
	margin-top: 35px;
}


.projects-holder .mix {
  display: none;
}

.projects-holder {
	padding: 30px 15px 0px 15px;
}

.filter-categories {;
  margin-top: 60px;
}

.filter-categories ul li {
  margin: 0px 10px 15px 0px;
  display: block;
}

.filter-categories ul li span {
  cursor: pointer;
  color: var(--neutral);
  display: inline-block;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  left: 0.5px;
}

.filter-categories ul li.active span {
  color: var(--highlight);
}

.wrapper {
  text-align: center;
  background: var(--neutral);
}

.wrapper a:link {
    color: var(--standout);
}

.tabs {
  list-style: none;
  margin-top: 40px;
  padding-right: 70px;
}

.tabs li {
  display: block;
  text-align: center;
  margin: 25px 0px;
}

.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:capitalize;
  letter-spacing: 0.5px;
  color: var(--contrast);
  font-size: 15px;
  font-weight: 500;
  padding: 12px 12px;
  background-color: var(--neutral);
}

.tabs a:hover {
  color: var(--highlight);
}

.tabs .active {
  color: var(--highlight);
}
#first-tab-group {
	margin-top: 30px;
	margin-bottom: 15px;
}
.tabgroup .text-content	 {
  background-color: var(--neutral);
  color: var(--neutral);
  padding: 25px;
  text-align: left;
}
.tabgroup .text-content h4 {
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--contrast);
	margin-top: 0px;
	margin-bottom: 5px;
}
.tabgroup .text-content span {
	font-size: 13px;
	color: var(--standout);
}
.tabgroup .text-content a {
	font-size: 13px;
	color: var(--standout);
	text-decoration: none;
}
.tabgroup .text-content p {
	margin-top: 10px;
}

#contact-us {
	background-color: var(--contact);
	text-align: center;
	padding: 80px 0px;
}

#contact-us .section-heading h4 {
	margin-top: 0px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(-neutral);
	letter-spacing: 1px;
}

#contact-us .section-heading .line-dec {
	width: 270px;
	height: 1px;
	background-color: rgba(250, 250, 250, 0.5);
	margin: 20px auto 15px auto;
}

#contact-us .section-heading p {
	color: var(--neutral);
	padding: 0px 33%;
}

#contact-us .pop-button {
	margin-top: 30px;
}

#contact input {
  border-radius: 0px;
  padding-left: 15px;
  font-size: 13px;
  color: var(--dark);
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 0px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: var(--dark);
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

#contact button {
  display: inline-block;
	background-color: var(--highlight);
	font-size: 13px;
	padding: 12px 18px;
	color: var(--neutral);
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}


.pop #contact {
	z-index: 99999;
	position: fixed;
	top: 25%;
	left: 20%;
	right: 20%;
}

.pop {
	z-index: 99999;
	text-align: center;
	padding: 30px;
    display:none;
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 15px;
}

.pop span {
	z-index: 999;
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 44px;
	color: var(--neutral);
	text-align: center;
	background-color: var(--standout);
}

.pop span:hover {
	background-color: var(--contact);
	transition: all 0.5s;
}


/*** CODE need to be refactored // END ******/


/* ============= RESPONSIVE max-width: 991px =========== */

@media (max-width: 991px){

	/*.banner-content .text-content p {
		padding: 0px 15%;
	}

	#about .service-item {
		margin-bottom: 80px;
	}

	.projects-holder {
		text-align: center;
		padding: 15px 0px;
	}

	.tabs {
		padding: 0px 45px;
	}

	#first-tab-group {
		margin-bottom: 30px;
	}

	#contact-us .section-heading p {
		padding: 0px 10%;
	}

	*/

}

/* ============= RESPONSIVE max-width: 768px =========== */
@media (max-width: 768px){
	/*.banner-content .text-content p {
		padding: 0px 10%;
	}


}

/* ============= RESPONSIVE max-width: 385px=========== */
@media (max-width: 385px){


}