/* Defining Root Colors */
:root{
    --midtone: #8D7148;
    --neutral: #B49159;
    --contrast: #403025;
    --standout: #2F3C48;
    --highlight: #f7c552;
    --banner: #f89624;
    --dark: #232323;
    --footer: #675036;
}

body{
    background: linear-gradient(180deg, black, transparent 20%), linear-gradient(360deg, #000, transparent 20%), #090c1f url(/static/images/wall-ship.jpg) no-repeat center center fixed;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    max-height: 100%;
    margin: 0;
    overflow: scroll;
}

.jumbotron{
    background-color: transparent;
    color:var(--neutral);
}
/* ============ Navigation Bar styling //  START ========= */
.navbar-global {
  background-color: transparent;
}

.navbar-global .navbar-brand {
  color: white;
  margin-left:-30px!important;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'Permanent Marker', cursive;
}

.navbar-global .navbar-user > li > a
{
  color: white!important;
  background:yellow!important;
  display:block!important;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  background-color: #00000085;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 175px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  }

.navbar-primary.collapsed {
    width: 60px;
}
.navbar-primary.collapsed .fas {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}
.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}
.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .fas {
  margin-right:8px;
}

.navbar-primary-menu li a:hover .fas {
  color: #e7d052;
}
.navbar-primary-menu li a:hover .fab {
  color: #e7d052;
}

.main-content {
  margin-top: 60px;
  margin-left: 150px;
  padding: 20px;
  color:#fff!important;
  letter-spacing:1px;
}

.main-content p {
  color:#fff;
  font-style:italic;
  word-spacing: 3.5px;

}

.wheelbuttons{
    display: flex;
    left: 60%;
}

.wheelbuttons img{
    width: 50px;
    background: var(--dark);
    border-radius: 50%;
}

.wheelbuttons figcaption{
    color: var(--neutral);
    text-align: left;
    position: bottom;
    background: var(--dark);
}

#mainwheel {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-10%, -50%);
    color: var(--neutral);
}

.collapsed + .main-content {
  margin-left: 30px;
}

.navbar-toggle .icon-bar{
    background-color:red;
 }
/* ========== Navigation Bar styling //  END ========= */

/*=========== Footer styling //  START============*/
.footer {
    padding:10px 0;
    color: var(--neutral);
    position: fixed;
    bottom: 30px;
    margin: 0;
    width: 10%;
    background:transparent;
}

.footer .item.social > a {

}

.footer .item.social > a:hover {
    opacity:0.9;
}

.footer .copyright {
   font-style:italic;
    padding-bottom:14px;
    font-size:13px;
    margin-bottom:0;
    color:#fff;
}

/* Beginning of the stock CSS template */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	color: var(--midtone);
	font-size: 14px;
	line-height: 24px;
}

.primary-light-button {
	display: inline-block;
	background-color: var(--neutral);
	font-size: 13px;
	padding: 12px 18px;
	color: var(--contrast);
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}

.primary-bright-button {
	display: inline-block;
	background-color: var(--standout);
	font-size: 13px;
	padding: 12px 18px;
	color: var(--neutral);
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}

.wrapper {
  text-align: center;
  background: var(--neutral);
}

.wrapper a:link {
    color: var(--standout);
}

/* ===========================================
    Specific styling for the Footy Demo App
=============================================*/
.footy button{
    display: flex;
    justify-content: center;
    margin: auto;
}

.footy table{
    width: 75%;
    align: center;
    margin: 20px auto;
    border: 40px 20px 10px 20px;
}

.footy tr,th,td{
    color: var(--midtone);
    background-color: var(--highlight);
}

.footy hr{
    color: var(--banner);
    border-top-width: 2px;
    margin: 2px;
}

.footy h4{
    color: var(--midtone);
    text-align: center;
    text-shadow: 2px 2px var(--standout);
}

.footy select, label{
    color: var(--midtone);
    background: var(--standout);
    display: flex;
}

#footyPic{
    text-align: center;
    position: relative;
}

#footyPic img {
    border: 2px dotted var(--midtone);
    border-radius: 10%;
    width: 600px;
    padding: 10px;
    align: center;
}

#footyPic span{
    background: var(--contrast);
    opacity: 70%;
    width: 500px;
    border-radius: 5px;
}

.footy_top{
    display:inline-block;
    padding:2px 3px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--neutral);
    text-shadow: 2px 2px 5px var(--dark);
}

.footy_center{
    display:inline-block;
    padding:2px 3px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: var(--neutral);
}

.footy_caption{
    background-color: var(--standout);
    color:var(--light);
    text-decoration:none;
    padding:4px 6px;
    font-family: Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
    position: absolute;
    bottom: -30px;
    right: 25%;
}

/* End footy styling */


/* ============= RESPONSIVE max-width: 991px =========== */

@media (max-width: 991px){


}

/* ============= RESPONSIVE max-width: 768px =========== */
@media (max-width: 768px){



}

/* ============= RESPONSIVE max-width: 385px=========== */
@media (max-width: 385px){


}