{% extends 'Amiibo/amiibo_base.html' %}
{% load static %}
{% block templatecontent %}
<section>
    <h1 class="titleText text-center">Take a look at some Nintendo News!</h1>

    <form class="filter-container" method="POST">
        {% csrf_token %}

        <div class="filter-subContainer">
            <p>Search articles for</p>
            {{ form.search }}
        </div>

        <div class="filter-subContainer">
            <p>Sort by</p>
            {{ form.time_frame }}
        </div>

        <div class="filter-subContainer">
            <p>Load the first{{ form.numOfArticles }}Articles</p>
        </div>

        <input class="btn_apiSubmitButton" type="submit" value="GO!">
    </form>

    {% for article in articles %}

        <p class="titleText text-center">{{ article.title }}</p>
        <p class="titleText text-center">{{ article.summary }}</p>
        <p class="text-center">{{ article.age }}</p>
        <p class="text-center">{{ article.link }}</p>
        <p class="titleText text-center">--------------------</p>

    {% endfor %}


</section>
{% endblock %}