{% extends "BookShelf/bookshelf_base.html" %}
{% load staticfiles %}
{% block templatecontent %}

<section>
    <div class="flex-container">
        <h1>Create page!</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {{ form.non_field_errors }}
            <button class="primary-bright-button" type="submit">Add to the Shelf</button>
        </form>
        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listshelf' %}'">Back</button>
    </div>
</section>

{% endblock %}