{% extends 'CommunityFM/fm_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container radioIndex" id="stationDetails">
        <table>
            <tr>
                <th>Station Name</th>
                <td class="col-md">{{station.station_name}}</td>
            </tr>
            <tr>
                <th>Frequency</th>
                <td class="col-md">{{station.station_frequency}}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td class="col-md">{{station.genre}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td class="col-md">{{station.country}}</td>
            </tr>
            <tr>
                <th>State</th>
                <td class="col-md">{{station.state}}</td>
            </tr>
            <tr>
                <th>Website/Streaming</th>
                <td class="col-md"><a href="{{station.station_url}}">{{station.station_url}}</a></td>
            </tr>
        </table>
        <br/>
        <hr/>
        <br/>
        <button class="btn-radio btn-center" type="button" onclick=" location.href='{% url 'index' %}'">Back to Index</button>
    </div>
</section>
{% endblock %}





