{% extends 'BookBag/bookBag_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
        <div class="footy_center"><strong>Open Up Your BookBag!</strong><br />
        Welcome all bibliophiles! Whether you are cracking open your first novel, or a veteran to the literature world,
            BookBag is here to organize your collection. Find new material to read from our API or check out
            the newest releases on Barnes and Noble. We've got everything you need to keep your collection growing!</div>
        <br />

</section>
{% endblock %}