{% extends 'base.html' %}
{% load staticfiles %}

{% block pagetop-css %} cover-bookBag {% endblock %}

{% block page-title %}BookBag{% endblock %}
{% block page-subtitle %}Keep track of all the books you've ever read!{% endblock %}
{% block button1 %}<a href="{% url 'bookBagHome' %}" class="contact-btn">BookBag Home</a>{% endblock %}
{% block button2 %}<a href="{% url 'listBooks' %}" class="contact-btn">Books</a>{% endblock %}

{% block appcontent %}
    <section>

    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}