{% extends 'base.html' %}
{% load staticfiles %}

{% block pagetop-css %} wolvesBackground {% endblock %}

{% block page-title %} Minnesota Timberwolves {% endblock %}
{% block page-subtitle %}{% endblock %}

{% block button1 %}<a href="{% url 'wolves_home' %}" class="contact-btn">Timberwolves Home</a>{% endblock %}
{% block button2 %}<a href="{% url 'createPlayer' %}" class="contact-btn">Add a Player</a>{% endblock %}
{% block button3 %}<a href="{% url 'viewPlayers' %}" class="contact-btn">View Players</a>{% endblock %}

{% block appcontent %}
    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}