{% extends 'TWolvesRoster/wolves_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <form class="flex-container" method="POST">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {{ form.non_field_errors }}

        <input class="addButton" type="submit" value="Confirm Changes!">
    </form>

        <hr />
        <button class="wolvesDetailsButton" type="button" onclick=" location.href='{% url 'viewPlayers' %}'">Back to Players</button>

</section>
{% endblock %}
