{% extends 'TWolvesRoster/wolves_base.html' %}
{% load staticfiles %}

{% block page-subtitle %}Add a former Timberwolves player to our app!{% endblock %}

{% block templatecontent %}

<section>
    <div class="flex-container">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }} <!-- this only renders the td tags, still need the table tags -->
            </table>
            {{ form.non_field_errors }}
            <button class="addButton" type="submit"> Add Player </button>
        </form>
    </div>
</section>

{% endblock %}