{% extends 'TWolvesRoster/wolves_base.html' %}
{% load staticfiles %}

{% block page-subtitle %}View the current Timberwolves players and add former players!{% endblock %}

{% block templatecontent %}

<section>
    <h1 class="wolvesPageTitle">Timberwolves PLayers Home</h1>

    <p class="wolvesHomePagetxt">
        Welcome to the Timberwolves Player App, here you can view the current Timberwolves players<br>
        that we data scrape from official TImberwolves website.<br>You can also add former players on your own.
    </p>
</section>
{% endblock %}